@model CPD.Dominio.Entidades.Contribuinte

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Contribuinte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ValorContribuicao" class="control-label"></label>
                <input asp-for="ValorContribuicao" class="form-control" />
                <span asp-validation-for="ValorContribuicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de Pessoa:</label><br />
                <label><input type="radio" name="Periodicidade" value="Mensal" /> Mensal</label><br />
                <label><input type="radio" name="Periodicidade" value="Semanal" /> Semanal</label>
                <span asp-validation-for="Periodicidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
