@model CPD.Dtos.ProjetoDto

@{
    ViewData["Title"] = "Criar Projeto";
}

<h1>Criar</h1>

<h4>Projeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ComunidadeId" class="control-label">Comunidade:</label>
                <select asp-for="ComunidadeId" asp-items="@(new SelectList(Model?.ListadeComunidades, "Id", "Nome"))" class="form-control">
                    <option value="">Selecione a comunidade</option>
                </select>
                <span asp-validation-for="ComunidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorEstimado" class="control-label"></label>
                <input asp-for="ValorEstimado" class="form-control" />
                <span asp-validation-for="ValorEstimado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemSucesso"]
    </div>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Projetos")';
        }, 3000); // 3000 milissegundos = 3 segundos
    </script>
}
<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
